<div class="content-wrapper">
  <div class="profile-header">
    <h1>Ваш кошик 🛒</h1>
  </div>

  <% if @cart_items.any? %>
    <div class="item-card item-card--flush item-card--dark">
      <table class="table--full cart-table">
        <thead>
          <tr>
            <th>Товар</th>
            <th>Ціна</th>
            <th>Кількість</th>
            <th>Сума</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr class="table-row">
              <td class="cart-cell cart-cell--media">
                <div class="item-thumb">🎸</div>
                <strong><%= cart_item.item.name %></strong>
              </td>
              <td><%= number_to_currency(cart_item.item.price, unit: "₴") %></td>
              <td>
                <div class="cart-qty-wrap">
                    <%= button_to cart_item_path(cart_item, operation: 'decrement'), method: :patch, class: "qty-btn", disabled: cart_item.quantity <= 1 do %>
                    −
                    <% end %>

                    <span class="qty-count">
                      <%= cart_item.quantity %>
                    </span>

                    <%# Кнопка Плюс %>
                    <%= button_to cart_item_path(cart_item, operation: 'increment'), method: :patch, class: "qty-btn" do %>
                    +
                    <% end %>
                </div>
                </td>
              <td class="price" style="font-weight: bold; color: var(--primary);">
                <%= number_to_currency(cart_item.quantity * cart_item.item.price, unit: "₴") %>
              </td>
              <td style="text-align: right;">
                <%= button_to cart_item_path(cart_item), method: :delete, class: "btn-outline btn-outline--danger btn-outline--small" do %>
                  Видалити
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="cart-summary">
        <div>
          <h2>Разом: <span class="price"><%= number_to_currency(@total_price, unit: "₴") %></span></h2>
        </div>
        <div style="display: flex; gap: 20px;">
          <%= link_to "Продовжити покупки", items_path, class: "nav-link" %>
          <%= link_to "Оформити замовлення 🤘",new_order_path,  class: "btn-primary" %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="empty-cart">
      <h2>Ваш кошик порожній... поки що.</h2>
      <%= link_to "Перейти до каталогу", items_path, class: "btn-primary" %>
    </div>
  <% end %>
</div>